.container-result {
  width: 85%;
  margin: 0 auto;
  background-color: rgba(0,0,0,0.5);
  border: 6px double white;
  margin-top: 1.3vh;
  @media only screen and (min-width: 767px){
    padding: 4% 10%;
  }
}
@media (min-width: 768px) {
  .wrap-terms .terms {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 95%;
    h1{
      font-size: 1.8rem;
    }
    h2{
      font-size: 1.6rem;
    }
    p{
      font-size: 1.4rem;
    }
  }
}