nav {
  color: #ffffff;
}

.content-01 {
    display       : inline-block;
    font-size     : 18pt;
    text-align    : center;
    cursor        : pointer;
    padding       : 12px 12px;
    background-color    : #186670;
    color         : #ffffff;
    line-height   : 1em;
    transition    : .3s;
    box-shadow    : 6px 6px 3px #666666;
    border        : 2px solid #000066;
  }
  .content-01:hover {
    box-shadow    : none;
    color         : #646464;
    background-image    : #7a7a7a;
  }

  .navbar-light .navbar-nav .nav-link {
    color: #ffffff;
  }

  *,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  @media only screen and (min-width: 767px){
    padding:1% 5%;
  }
}

.btns,
a.btn,
button.btn {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 2rem 3rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;

  .btn,
  a.btn,
  button.btn.t-1 {
    padding: 8px 12px;
    font-size: 20px
  }
}

/*背景*/
body {
  text-align: center;
}
// お参りボタン
.btn-border-gradient-wrap {
  display: inline-block;
  padding: 0.2rem;
  margin: 3rem 20px;
  border-radius: 0.5rem;
}
// その他ボタン
.btn-border-gradient-wrap-1{
  margin: 1rem 20px;
  display: inline-block;
  padding: 0.2rem;
  border-radius: 0.5rem;

}

// ゴールド
.btn-border-gradient-wrap--gold {
  background-image: -webkit-linear-gradient(
    315deg,
    #704308 0%,
    #ffce08 37%,
    #fefeb2 47%,
    #fafad6 50%,
    #fefeb2 53%,
    #e1ce08 63%,
    #704308 100%
  );
  background-image: linear-gradient(
    135deg,
    #704308 0%,
    #ffce08 37%,
    #fefeb2 47%,
    #fafad6 50%,
    #fefeb2 53%,
    #e1ce08 63%,
    #704308 100%
  );
}
// シルバー
  .btn-border-gradient-wrap--silver {
    background-image: -webkit-linear-gradient(
      308deg,
      #704308 0%,
      #ffce08 37%,
      #fefeb2 47%,
      #fafad6 50%,
      #fefeb2 53%,
      #e1ce08 63%,
      #704308 100%
      );
    background-image: linear-gradient(
      308deg,
      #333 0%,
      #868888 20%,
      #d8dcdc 34%,
      #999a9c 35%,
      #cccdce 43%,
      white 53%,
      #d1d6d7 68%,
      #9b9d9f 84%,
      #666 100%
    );
  }

  a.btn-border-gradient {
    font-size: 2rem;
    background: #000;
  }

  a.btn-border-gradient-1 {
    font-size: 2rem;
    background: #000;
    padding:10px 30px;
  }

  .btn-text-gradient--silver {
    font-family: "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro",
    "Hiragino Mincho ProN", "HGS明朝E", "ＭＳ Ｐ明朝", serif;

    background: -webkit-gradient(
      linear,
      left bottom,
      left top,
      from(#fff),
      to(#999)
    );
    background: -webkit-linear-gradient(bottom, #fff, #999);
    background: linear-gradient(to top, #fff, #999);
    -webkit-background-clip: text;

    -webkit-text-fill-color: transparent;
    &.mr{
      width: 100px;
    }
  }

  .btn-border-gradient-wrap--silver:hover a.btn {
    text-shadow: 0 0 15px rgba(209, 214, 215, 0.5),
      0 0 15px rgba(209, 214, 215, 0.5), 0 0 15px rgba(209, 214, 215, 0.5),
      0 0 15px rgba(209, 214, 215, 0.5);
  }

// ゴールド
  .btn-border-gradient-wrap--gold:hover a.btn {
    text-shadow: 0 0 15px rgba(250, 250, 214, 0.5),
      0 0 15px rgba(250, 250, 214, 0.5), 0 0 15px rgba(250, 250, 214, 0.5),
      0 0 15px rgba(250, 250, 214, 0.5);
  }

  .btn-text-gradient--gold {
    font-family: "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro",
      "Hiragino Mincho ProN", "HGS明朝E", "ＭＳ Ｐ明朝", serif;

    background: -webkit-gradient(
      linear,
      left bottom,
      left top,
      from(#ffffdb),
      to(#a16422)
    );
    background: -webkit-linear-gradient(bottom, #ffffdb, #a16422);

    background: linear-gradient(to top, #ffffdb, #a16422);
    -webkit-background-clip: text;

    -webkit-text-fill-color: transparent;
}

.back{
  background-color: #3b3b3b;
  color: rgb(157, 184, 184);
}

.send{
  background-color: #3b3b3b;
  color: rgb(236, 215, 169);
}

.leaf {
  position: absolute;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.leaf li{
  position: absolute;
  list-style: none;
  top: -50px;
  background: #47ff76;
  border-radius: 0% 70%;
}


@keyframes fall {
  to {
    top: 120%;
  }
}

@keyframes sway1 {
  from {
    transform: translateX(0px) rotate(0deg);
  }
  to {
    transform: translateX(200px) rotate(-45deg);
  }
}

@keyframes sway2 {
  from {
    transform: translateX(200px) rotate(-45deg);
  }
  to {
    transform: translateX(0px) rotate(0deg);
  }
}

.leaf li:nth-child(1){
  left: 0%;
  top: -60px;
  width: 24px;
  height: 15px;
  background-color: #8a7128;
  animation: fall 10s linear infinite,
             sway1 3s ease-in-out infinite alternate;
  animation-delay: 2s;
}

.leaf li:nth-child(2){
  left: 5%;
  top: -70px;
  width: 13px;
  height: 9px;
  background-color: #8a7128;
  animation: fall 15s linear infinite,
             sway1 2s ease-in-out infinite alternate;
  animation-delay: 8s;
}

.leaf li:nth-child(3){
  left: 15%;
  top: -50px;
  width: 16px;
  height: 10px;
  background-color: #c2704e;
  animation: fall 9s linear infinite,
             sway1 3.5s ease-in-out infinite alternate;
  animation-delay: 13s;
}

.leaf li:nth-child(4){
  left: 30%;
  top: -70px;
  width: 16px;
  height: 10px;
  background-color: #ffbf00;
  animation: fall 8s linear infinite,
             sway2 4s ease-in-out infinite alternate;
  animation-delay: 7s;
}
.leaf li:nth-child(5){
  left: 40%;
  top: -60px;
  width: 16px;
  height: 10px;
  background-color: #8a7128;
  animation: fall 10s linear infinite,
             sway1 4s ease-in-out infinite alternate;
  animation-delay: 0s;
}
.leaf li:nth-child(6){
  left: 55%;
  top: -50px;
  width: 24px;
  height: 15px;
  background-color: #8a7128;
  animation: fall 11s linear infinite,
             sway2 3s ease-in-out infinite alternate;
  animation-delay: 3s;
}
.leaf li:nth-child(7){
  left: 65%;
  top: -40px;
  width: 16px;
  height: 10px;
  background-color: #8a7128;
  animation: fall 7s linear infinite,
            sway2 3.5s ease-in-out infinite alternate;
  animation-delay: 7s;
}
.leaf li:nth-child(8){
  left: 50%;
  top: -60px;
  width: 13px;
  height: 9px;
  background-color: #c2704e;
  animation: fall 7s linear infinite,
            sway1 3s ease-in-out infinite alternate;
  animation-delay: 3s;
}
.leaf li:nth-child(9){
  left: 80%;
  top: -70px;
  width: 16px;
  height: 10px;
  background-color: #8a7128;
  animation: fall 10s linear infinite,
            sway2 4s ease-in-out infinite alternate;
  animation-delay: 4s;
}

