h1 詳細
.nav.justify-content-end

.ihai
  .ihai_1
    .post-title
      / =@post.title
      =simple_format(h(@post.title), {}, sanitize: false)
  / =image_tag 'ihai.png', class: 'ihai_1' do
  / .title =@post.title

table.content
  tbody
    tr
      th= '享年'
    tr
      td= "#{@post.last_day}年"
    tr
      th= '御説明'
    tr
      td= simple_format(h(@post.content), {}, sanitize: false, wrapper_tag: "div")
/ = link_to 'お参りする', "#"

#overlay.overlay
/! モーダルウィンドウ
.modal-window
  #js-fixed-bottom.fix-bottom
    = link_to "https://twitter.com/share?&url=https://omailly.herokuapp.com/&text=【#{@post.title}】をお参りしました。また逢う日まで…合掌🙏&hashtags=オマイリー,お参り&lang=ja", title: 'Twitter', target: :_blank, rel: 'noopener noreferrer' do
      .btn-border-gradient-wrap-1.btn-border-gradient-wrap--silver.button.btns.t-1
        a.btn.btn-border-gradient.t_1
          span.btn-text-gradient--silver シェア

  /! 閉じるボタン
  button.js-close.button-close やめとく
  #output.output.1
  / = link_to 'Twitter', "", target: :_blank, rel: 'noopener noreferrer', class: "twitter-share"
br/
/! モーダルを開くボタン
button.js-open.button-open.btn-border-gradient-wrap.btn-border-gradient-wrap--gold
  a.btn.btn-border-gradient
    span.btn-text-gradient--gold 御参り



.btn-border-gradient-wrap-1.btn-border-gradient-wrap--silver.button.btn
  = link_to posts_path, class: 'btn btn-border-gradient t_1' do
    span.btn-text-gradient--silver 一覧

.btn-border-gradient-wrap-1.btn-border-gradient-wrap--silver.button.btn.t-1
  = link_to new_post_path, class: 'btn btn-border-gradient t_1' do
    span.btn-text-gradient--silver 作成
