@charset "UTF-8";
.table {
  margin: 20px 300px;
  text-align: center;
}

.table .td-default {
  display: block;
}

.table .t-body {
  background-color: #070707;
  color: #fff;
  padding: 20px;
}

.table .t-body .tr-title {
  box-shadow: 0 0 7px #faf61d;
  border: 5px solid #ffd106;
}

.table .t-body .content {
  text-align: center;
  display: block;
}

.table .t-body .ttt {
  text-decoration: none;
  color: #eafc9c;
  font-weight: bold;
  padding: 10px;
  display: block;
}

.table .t-body .tyy {
  width: 20px;
}

.container {
  text-align: center;
}

.container .form-label {
  text-align: center;
  display: block;
}

.container .form-control {
  box-shadow: 0 0 7px #eafc9c;
  border: 1px solid #eeda9a;
  transition: all .3s;
  width: 200px;
  height: 50px;
  margin-bottom: 10px;
}

.container .form-control.l3 {
  resize: none;
  width: 400px;
  height: 200px;
}

.ihai {
  position: relative;
}

.ihai .ihai_1 {
  width: 500px;
  height: 400px;
  z-index: -1;
}

.title {
  float: left;
  position: absolute;
  top: 25%;
  left: 47%;
  right: 53%;
  font-size: 40px;
  text-align: center;
}

.content {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
}

.content .content_01 {
  display: block;
}

.kkk {
  background-color: #1972f8;
  /* 花びらの色 */
  border-radius: 100% 0 100% 0;
  width: 12px;
  height: 12px;
}
